@{
    ViewData["Title"] = "Comments";
}

<section class="section">
    <div class="container">
        <h2>Comments</h2>

 
        <form>
            Leave an coments, questions, or concerns below!
            <br />
            <textarea rows="5" cols="60" name="comments">
            Enter comments here...
            </textarea><br>
            <br />
            <button class="btn btn-primary btn-sm" type="submit" id="submit">Submit Comment</button>
        </form>
    </div>
</section>
