@{
    ViewData["Title"] = "Conditionals";
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">CONDITIONAL STATEMENTS</h1>
                <p>An if/then statement where a true/false hypothesis is followed by a conclusion.</p>
                <p>Conditional statements allow for simple yes or no decisions to be made from single(if/then statement) or multi-value vectors (if/else statements).</p>
            </div>
        </div>
        @*If Statement*@
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">If Statement</h2>
                <p>The first if statement is required for any conditional statment and is used to make the original if... then... statement.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4 class="section-title">Syntax:</h4>
                <p>This is the syntax of a If Statement:</p>
            </div>
            <div class="col-6">
                <br />
                <p>
                    <br />
                    If (true_or_false_expression) { <br />
                    statement (if true, do this) <br />
                    }
                </p>
            </div>
        </div>
    </div>
    @*Else If Statement*@
    <div class="row">
        <div class="col-12">
            <h2 class="section-title">Else If</h2>
            <p>
                Else if statements can be followed by the if statment if there is a another condition to be test assuming the inital if condition is false. The "Else if" statement is NOT required.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="section-title">Syntax:</h4>
            <p>This is the syntax of the "If Else" Statement</p>
        </div>
        <div class="col-6">
            <br />
            <p>
                <br />
                } else if (if first statement is false, true this) { <br />
                Statement (if true, do this) <br />
                }
            </p>
        </div>
    </div>
    @*Else Statement*@
    <div class="row">
        <div class="col-12">
            <h2 class="section-title">Else</h2>
            <p>
                Else statements are used in order to perform an action assuming all previous statements resulted in false. Else statements are NOT required but must be the last item in a conditional statement.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="section-title">Syntax:</h4>
            <p>This is the syntax of the "Else" Statement</p>
        </div>
        <div class="col-6">
            <br />
            <p>
                <br />
                else { <br />
                statement 2 (if everything else is false, do this) <br />
                }
            </p>
        </div>
    </div>
    @*Example*@
    <div class="row">
        <div class="col-12">
            <h2 class="section-title">Lets put it all together</h2>
            <h4 class="section-title">Else If Syntax:</h4>
            <p>
                If (true_or_false_expression) { <br />
                statement (if true, do this) <br />
                } else if (if first statement is false, true this) { <br />
                Statement (if true, do this) <br />
                } else { <br />
                statement 2 (if everything else is false, do this) <br />
                }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="section-title">Example:</h4>
            <p>
                x < - 24 <br />
                if (x= =3){ <br />
                 print("The number is 3!") <br />
                } else if (x>= 6) { <br />
                 print ("The number is greater than or equal to 6!") <br />
                }else { <br />
                 print ("Your number is less than 6 but not 3!") <br />
                }
            </p>
        </div>
    </div>

</section>

<section class="section">
    <div class="container">
        <h2>Quiz Time!</h2>

        <p>Finish Quiz</p>
        <form>
            Which of the following is the correct syntax for “equal to” in R?
            <br />
            <br />
            <input type="radio" id="A" name="q1" value="A">
            <label for="q1">=</label>
            <br>
            <input type="radio" id="B" name="q1" value="B">
            <label for="q1">.equals()</label>
            <br>
            <input type="radio" id="C" name="q1" value="C">
            <label for="q1">==</label>
            <br />
            <input type="radio" id="D" name="q1" value="D">
            <label for="q1">!=</label>
            <br>
            <br>
            Which of the following is the correct use of a conditional statement?
            <br />
            <br />
            <input type="radio" id="A" name="q1" value="A">
            <label for="q1">Making complex, multi-factor decisions</label>
            <br>
            <input type="radio" id="B" name="q1" value="B">
            <label for="q1">Making simple if (true)… then… decisions</label>
            <br>
            <input type="radio" id="C" name="q1" value="C">
            <label for="q1">To perform a specific action no matter the variable presented</label>
            <br />
            <input type="radio" id="D" name="q1" value="D">
            <label for="q1">To authenticate a user before performing an action</label>
            <br>
            <br>
            What is the correct order for the following if (conditional) statement?
            <br />
            <br />
            <input type="radio" id="A" name="q3" value="A">
            <label for="q3">if… else if… else…</label>
            <br>
            <input type="radio" id="B" name="q3" value="B">
            <label for="q3">if… else… else if…</label>
            <br>
            <input type="radio" id="C" name="q3" value="C">
            <label for="q3">else… else if… if…</label>
            <br />
            <input type="radio" id="D" name="q3" value="D">
            <label for="q3">else if… if… else…</label>
            <br>
            <br>
            Create a program that will output “The number is not 3!” only if the provided number is not equal to 3 (hardcode the number 3).
            <br />
            <input />
            <br />
            <br />
            Create a hangman project that will only give the user two tries to guess a secret letter (hardcode the letter).
            <br />
            <input />
            <br />
            <br />
            <button class="btn btn-primary btn-sm" type="submit" id="submit">Submit Quiz</button>
        </form>
    </div>
</section>
