@{
    ViewData["Title"] = "Dataframes";
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">DATAFRAMES</h1>
                <p>A data frame is a data structure that stores data in a 2-dimensional table of rows and columns, similar to a spreadsheet</p>
                <p>A dataframe is a list of vectors of equal length. The first line of the table is called the header and contains the different column names, each horizontal line is called a data row, and each individual piece of data in the row is called a cell.</p>
                <p>Dataframes are used for storing data and can contain data of numeric, factor, or character type.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <br />
                <h2 class="section-title">Creating a Dataframe</h2>
                <p>There are several different methods that can be used to create a dataframe.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4 class="section-title">Method 1:</h4>
                <p>One way to create a dataframe is to take individual vectors and combine them:</p>
            </div>
            <div class="col-6">
                <br />
                <p>first_column <- c("Hi", "Hello")<br />
                second_column <- c("Bye", "Good-bye")<br />
                df <- data.frame(first_column, second_column)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4 class="section-title">Method 2:</h4>
                <p>A dataframe can be created by creating and combining the vectors in a single statement:</p>
            </div>
            <div class="col-6">
                <br />
                <p>df <- data.frame ( <br />
                         first_column = c("Hi", "Hello"), <br />
                         second_column = c("Bye", "Good-bye") <br />
                         )</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4 class="section-title">Method 3:</h4>
                <p>The last method to create a dataframe is to read the data directly from a csv file:</p>
                <p>*It's important to note that for this method to work the file path will need to be edited</p>
            </div>
            <div class="col-6">
                <br />
                <p>
                    test <- read_csv("folder/test.csv")<br />
                    df <- data.frame(test) <br />
                </p>
            </div>
        </div>
    </div>

<!-- courses -->
    <div class="row">
        <div class="col-12">
            <br />
            <h2 class="section-title">Working with Dataframes</h2>
            <p>Here are some different ways to update and work with existing dataframes</p>
        </div>
    </div>
    <div class="container">
        <!-- course list -->
        <div class="row justify-content-center">
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Add a Column</h4>
                        <p class="card-text mb-4">
                            Specify the new column that will be added to the dataframe and include all the 
                            cells of the new data
                        </p>
                        <p>
                            df$newColumn <- c("text1", "text2", "text3")
                        </p>

                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Add a Row</h4>
                        <p class="card-text mb-4">
                            In order to add new rows to a dataframe, a new dataframe must be created 
                            which can then be combined with the existing dataframe
                        </p>
                        <p>This can be done using the rbind() function</p>
                        <p>
                            Combinedf <- rbind(originalDF, newDF)
                        </p>

                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Grab a Column of Data</h4>
                        <p class="card-text mb-4">
                            Specify the column by listing the data frame then using $ 
                            to select the column: df$columnName
                        </p>
                        <p>
                            Result <- data.frame(df$name)
                        </p>

                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Grab a Row of Data</h4>
                        <p class="card-text mb-4">
                            Specify the row or range of rows you want to print from the dataframe
                        </p>
                        <p>
                            print(df[1:2])
                        </p>

                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Grab Data from Specific Cell(s)</h4>
                        <p class="card-text mb-4">
                            Specify the row(s) and column(s) you want to grab data from
                        </p>
                        <p>
                            The first numbers are for the row, the second are for the column. The 'c' is used to combine arguments.
                        </p>
                        <p>
                            df[c(3,5)c(2,4)]
                        </p>

                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Functions</h4>
                        <p class="card-text mb-4">
                            Some common functions when working with dataframes include:
                        </p>
                        <p>
                            Printing out details of the dataframe: str(df)
                        </p>
                        <p>
                            Printing out the summary data of the dataframe: print(summary(df))
                        </p>
                        <p>
                            For more functions click 
                            <a href="https://www.pluralsight.com/guides/manipulating-dataframes-r" target="_blank">here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2>Quiz Time!</h2>

        <p>Finish Quiz</p>
        <form>
            A dataframe stores data in what format?
            <br />
            <br />
            <input type="radio" id="A" name="q1" value="A">
            <label for="q1">A 3-dimensional table</label>
            <br>
            <input type="radio" id="B" name="q1" value="B">
            <label for="q1">A 2-dimensional table of columns and rows</label>
            <br>
            <input type="radio" id="C" name="q1" value="C">
            <label for="q1">A single array of data</label>
            <br />
            <input type="radio" id="D" name="q1" value="D">
            <label for="q1">A format similar to a python dictionary</label>
            <br>
            <br>
            Each row in a dataframe should be unique
            <br />
            <br />
            <input type="radio" id="true" name="q2" value="true">
            <label for="q2">True</label>
            <br>
            <input type="radio" id="false" name="q2" value="false">
            <label for="q2">False</label>
            <br>
            <br />
            Which of the following is NOT a way to create a dataframe in R?
            <br />
            <br />
            <input type="radio" id="A" name="q3" value="A">
            <label for="q3">Combining individual vectors</label>
            <br>
            <input type="radio" id="B" name="q3" value="B">
            <label for="q3">Creating and combining vectors together</label>
            <br>
            <input type="radio" id="C" name="q3" value="C">
            <label for="q3">Reading from a CSV file and creating a dataframe</label>
            <br />
            <input type="radio" id="D" name="q3" value="D">
            <label for="q3">Adding two columns together</label>
            <br>
            <br>
            Given a dataframe with 3 columns (first_name, last_name, and phone_number),
            list all of the first names stored in the dataframe
            <br />
            <input />
            <br />
            <br />
            Given the same dataframe in the previous problem, add another row of data then print out the last two rows of data (including the row you added)
            <br />
            <input />
            <br />
            <br />
            <button class="btn btn-primary btn-sm" type="submit" id="submit">Submit Quiz</button>
        </form>
    </div>
</section>

