@{
    ViewData["Title"] = "Dataframes";
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">DATAFRAMES</h1>
                <p>A data frame is a data structure that stores data in a 2-dimensional table of rows and columns, similar to a spreadsheet</p>
                <p>A dataframe is a list of vectors of equal length. The first line of the table is called the header and contains the different column names, each horizontal line is called a data row, and each individual piece of data in the row is called a cell.</p>
                <p>Dataframes are used for storing data and can contain data of numeric, factor, or character type.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Creating a dataframe</h2>
                <p>There are several different methods that can be used to create a dataframe.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4 class="section-title">Method 1:</h4>
                <p>One way to create a dataframe is to take individual vectors and combine them:</p>
            </div>
            <div class="col-6">
                <br />
                <p>insert syntax here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4 class="section-title">Method 2:</h4>
                <p>A dataframe can be created by creating and combining the vectors in a single statement:</p>
            </div>
            <div class="col-6">
                <br />
                <p>insert syntax here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4 class="section-title">Method 3:</h4>
                <p>The last method to create a dataframe is to read the data directly from a csv file:</p>
                <p>*It's important to note that for this method to work the file path will need to be edited</p>
            </div>
            <div class="col-6">
                <br />
                <p>insert syntax here</p>
            </div>
        </div>
    </div>
</section>

<!-- courses -->
<section class="section">
    <div class="row">
        <div class="col-12">
            <h2 class="section-title">Working with dataframes</h2>
            <p>Here are some different ways to update and work with existing dataframes</p>
        </div>
    </div>
    <div class="container">
        <!-- course list -->
        <div class="row justify-content-center">
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Add a Column</h4>
                        <p class="card-text mb-4">
                            This is a bunch of text detailing how to add a column
                        </p>
                        <p>
                            insert syntax
                        </p>

                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Add a Row</h4>
                        <p class="card-text mb-4">
                            This is a bunch of text detailing how to add a row
                        </p>
                        <p>
                            insert syntax
                        </p>

                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Grab a Column of Data</h4>
                        <p class="card-text mb-4">
                            This is a bunch of text explaining how to get all the data from a single column
                        </p>
                        <p>
                            insert syntax
                        </p>

                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Grab a Row of Data</h4>
                        <p class="card-text mb-4">
                            This is a bunch of text explaining how to get all the data from a row(s)
                        </p>
                        <p>
                            insert syntax
                        </p>

                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Grab Data from Specific Column and Row</h4>
                        <p class="card-text mb-4">
                            This is a bunch of text explaining how to get specific data from the frame
                        </p>
                        <p>
                            insert syntax
                        </p>

                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <h4 class="card-title">Functions</h4>
                        <p class="card-text mb-4">
                            Here are common functions to use with dataframes
                        </p>
                        <p>
                            insert syntax
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2>Quiz Time!</h2>

        <p>Finish Quiz</p>

        <form>
            A dataframe stores data in what format?
            <br />
            <br />
            <input type="radio" id="A" name="q1" value="A">
            <label for="q1">A 3-dimensional table</label>
            <br>
            <input type="radio" id="B" name="q1" value="B">
            <label for="q1">A 2-dimensional table of columns and rows</label>
            <br>
            <input type="radio" id="C" name="q1" value="C">
            <label for="q1">A single array of data</label>
            <br />
            <input type="radio" id="D" name="q1" value="D">
            <label for="q1">A format similar to a python dictionary</label>
            <br>
            <br>
            <button class="btn btn-primary btn-sm" type="submit" id="submit">Submit Quiz</button>
        </form>
    </div>
</section>

