<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

    <!-- Basic Page Needs
      ================================================== -->
    <meta charset="utf-8">
    <title>Educenter - Education HTML Template</title>

    <!-- Mobile Specific Metas
      ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Educenter HTML Template v1.0">

    <!-- theme meta -->
    <meta name="theme-name" content="educenter" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/plugins/bootstrap/bootstrap.min.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/plugins/slick/slick.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/plugins/themify-icons/themify-icons.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/plugins/animate/animate.css">
    <!-- aos -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/plugins/aos/aos.css">
    <!-- venobox popup -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/plugins/venobox/venobox.css">

    <!-- Main Stylesheet -->
    <link href="/lib/bootstrap/dist/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="/lib/bootstrap/dist/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/lib/bootstrap/dist/images/favicon.png" type="image/x-icon">

</head>

<body>
    <!-- preloader start -->
    <div class="preloader">
        <img src="/lib/bootstrap/dist/images/preloader.gif" alt="preloader">
    </div>
    <!-- preloader end -->
    <!-- header -->
    <header class="fixed-top header">
        <!-- top header -->
        <!--<div class="top-header py-2 bg-white">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 text-center text-lg-left">
                        <a class="text-color mr-3" href="tel:+443003030266"><strong>CALL</strong> +44 300 303 0266</a>
                        <ul class="list-inline d-inline">
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://facebook.com/themefisher/"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://twitter.com/themefisher"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://github.com/themefisher"><i class="ti-github"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://instagram.com/themefisher/"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 text-center text-lg-right">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="notice.html">notice</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="research.html">research</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="scholarship.html">SCHOLARSHIP</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#loginModal" data-toggle="modal" data-target="#loginModal">login</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#signupModal" data-toggle="modal" data-target="#signupModal">register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- navbar -->
        <div class="navigation w-100">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark p-0">
                    <a class="navbar-brand" href="index.html"><img src="lib\img\RoverflowResized.png" alt="logo" hight="200" lenth="68"></a>
                    <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link" asp-action="Index" asp-con>Home</a>
                            </li>
                            <li class="nav-item @@about">
                                <a class="nav-link" asp-action="Conditionals" asp-controller="Home">Conditionals</a>
                            </li>
                            <li class="nav-item @@courses">
                                <a class="nav-link" asp-action="Loops" asp-controller="Home">Loops</a>
                            </li>
                            <li class="nav-item @@events">
                                <a class="nav-link" asp-action="DataCleaning" asp-controller="Home">Data Cleaning</a>
                            </li>
                            <li class="nav-item @@blog">
                                <a class="nav-link" asp-action="ErrorHandling" asp-controller="Home">Error Handling</a>
                            </li>
                            <li class="nav-item @@blog">
                                <a class="nav-link" asp-action="Dataframes" asp-controller="Home">Data Frames</a>
                            </li>
                            <li class="nav-item @@blog">
                                <a class="nav-link" asp-action="Packages" asp-controller="Home">Packages</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <br /><br /><br /><br /><br />
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - ROverflow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <!-- jQuery -->
    <script src="/lib/bootstrap/dist/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/lib/bootstrap/dist/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="/lib/bootstrap/dist/plugins/slick/slick.min.js"></script>
    <!-- aos -->
    <script src="/lib/bootstrap/dist/plugins/aos/aos.js"></script>
    <!-- venobox popup -->
    <script src="/lib/bootstrap/dist/plugins/venobox/venobox.min.js"></script>
    <!-- filter -->
    <script src="/lib/bootstrap/dist/plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
    <script src="/lib/bootstrap/dist/plugins/google-map/gmap.js"></script>

    <!-- Main Script -->
    <script src="/lib/bootstrap/dist/js/script.js"></script>

</body>
</html>
